.wrapper-body {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.wrapper-title {
  font-size: 11pt;
  color: rgb(20, 20, 20);
}

.wrapper-content {
  margin-left: 10px;
  font-size: 11pt;
  color: rgb(165, 165, 165);
}

.wrapper-body-news {
  display: flex;
  align-items: center;
}

.wrapper-title-news {
  font-size: 11pt;
  color: rgb(20, 20, 20);
}

.wrapper-icon-news,
.wrapper-icon-onair {
  width: 15px;
  height: 15px;
  content: "";
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.wrapper-body-newscard {
  display: block;
  margin-top: 30px;
}

.wrapper-icon-newscard {
  width: 75px;
  height: 75px;
  content: "";
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.wrapper-title-newscard {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: 10px;
  color: rgb(14, 66, 165);
}

.wrapper-content-newscard {
  margin-left: 0;
  font-size: 11pt;
  color: rgb(60, 60, 60);
}

.wrapper-body-searchexample {
  margin-top: 5px;
  display: flex;
}

.wrapper-title-searchexample {
  font-size: 11pt;
  color: rgb(20, 20, 20);
}

.wrapper-content-searchexample {
  margin-left: 3px;
  font-size: 11pt;
  color: rgb(165, 165, 165);
}

.wrapper-body-weather {
  display: flex;
  align-items: center;
}

.wrapper-icon-weather {
  width: 40px;
  height: 40px;
  content: "";
  background-size: cover;
  background-position: center;
}

.wrapper-title-weather {
  margin: 0 10px;
  font-size: 20pt;
}

.wrapper-content-weather {
  font-size: 11pt;
  width: 76px;
  color: rgb(60, 60, 60);
}

.wrapper-title-visited {
  font-weight: 700;
}

.wrapper-content-visited {
  margin-left: 5px;
  color: rgb(60, 60, 60);
}