.wrapper-title {
  color: rgb(14, 66, 165);
}

.wrapper-body-news {
  display: flex;
  align-items: center;
}

.wrapper-title-news {
  font-size: 11pt;
  color: rgb(20, 20, 20);
}

.wrapper-icon-news {
  width: 15px;
  height: 15px;
  content: "";
  background-size: cover;
  background-position: center;
  margin-right: 10px;
}

.wrapper-body-newscard {
  margin-top: 30px;
}

.wrapper-icon-newscard {
  width: 75px;
  height: 75px;
  content: "";
  background-size: cover;
  background-position: center;
  margin-bottom: 15px;
}

.wrapper-title-newscard {
  font-size: 14pt;
  font-weight: 700;
  margin-bottom: 10px;
}

.wrapper-content-newscard {
  font-size: 11pt;
  color: rgb(80, 80, 80);
}