.card-body {
  padding: 10px;
}

.title {
  margin: 10px 0;
}

.card-link {
  width: 50%;
  display: block;
  margin: 15px 0;
  padding: 10px 10px;
  color: white;
  text-align: center;
  background-color: cornflowerblue;
  border-radius: 5px;
  text-decoration: none;
}