.wraper-body-news {
  display: flex;
  align-items: center;
}

.wraper-title-news {
  font-size: 11pt;
  color: rgb(80, 80, 80);
}

.wraper-icon-news {
  width: 20px;
  height: 20px;
  content: "";
  background-size: cover;
  background-position: center;
  margin-right: 5px;
}

